#Icon {
    border-radius: 50%;
    width: 50px;
    margin-bottom: 50px;


}



body {
    margin: 0;
    padding-top: 800px;
}

.Profile {
    width: 175px;
    border-radius: 50%;
    margin-bottom: 50px;

}

.menu {
    list-style: none;
    font-family: sans-serif;
    position: fixed;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
    text-align: center;

}

#Welcome {
    position: absolute;
    height: 80px;
    color: #ffffff;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#138fed 0%, #ed1313 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.links {
    float: left;
    color: #fff;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px;
    text-align: center;
    display: inline;

}

h1 {
    font-size: 40px;
    font-family: fantasy;
    font-weight: 300;
}

#Name {
    font-size: 30px;
    line-height: 1.2;
    font-family: fantasy;
}

#Bio {
    padding: 50px;
    text-align: center;
}

.Line {
    height: 6px;

    width: 70px;
    margin: 8px, auto;
    text-align: center;
}

p {
    font-family: sans-serif;
    font-size: 20px;
    max-width: 450px;
    margin: 25px, auto;
    line-height: 1.3;
    text-align: center;

}

.parallax-inner {
    display: table-cell;

    position: relative;

    text-align: center;

    vertical-align: middle;

}

links:hover {
    background-color: dodgerblue;
    text-decoration: underline;
    font-size: 25px;

}

h3 {
    font-family: fantasy;
    font-size: 50px;
}

h5 {
    font-family: sans-serif;
    font-size: 50px;
}

h9 {
    font-family: sans-serif;
    font-size: 30px;
}

#Videos,
#About,
#Work,
#Contact {
    font-family: fantasy;
    font-size: 50x;
    text-align: center;
    background-color: aqua;

}

html {

    scroll-behavior: smooth;

}
